.home-main{
    background-image: url(../../assets/img13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    color: white;
}
.home-main::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;width: 100%;
    background: rgba(0, 0, 0, 0.244);
    z-index:-1;
}
.name-div{
    width: 600px;
    margin: auto;
    text-align: center;
    transform: translateY(10rem);
}
.name-div h2{
    border-bottom: 1px solid white;
    padding: 10px 0;
    margin: 1rem 0;
}
.name-div .user-name{
    color: rgb(0, 242, 255);
}
.name-div p{
    font-size: 12px;
    word-spacing: 3px;
    letter-spacing: 1px;

}
